<div class="flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  <span class="hidden lg:inline text-3xl mr-2">🏆</span>
  <h2 class="text-4xl">Overall Winner:</h2>
  <span class="text-left text-4xl font-light flex-auto ml-0 md:ml-4"><%= @overall_winner.name %></span>
  <span class="hidden lg:inline text-3xl ml-2">🏆</span>
</div>

<h2 class="text-sm font-medium text-grey-dark ml-2 mt-8">Athletes</h2>
<div class="flex flex-row flex-wrap md:flex-no-wrap">
  <% @athletes.each do |athlete| %>
    <%= link_to athlete_path(athlete), class: "flex-grow no-underline text-black" do %>
      <div class="flex items-center bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
        <%= image_tag avatar_for(athlete), class: "w-12 h-12 rounded-full border-2 border-solid border-grey mr-2" %>
        <h3 class="font-light"><%= athlete.name %></h3>
      </div>
    <% end %>
  <% end %>
</div>

<h2 class="text-sm font-medium text-grey-dark ml-2 mt-8">Competition Overview</h2>
<div class="flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  <div class="w-1/2">
    <svg data-viz="bar-chart"
        data-url="/stats/summary/athlete_event_wins.json"
        data-x-axis-label = ""
        data-y-axis-label = "Wins"
        data-bar-color = "text-teal-dark"
        width="500" height="500"></svg>
  </div>
  <div class="w-1/2">
    <svg data-viz="bar-chart"
        data-url="/stats/summary/event_distribution.json"
        data-x-axis-label = ""
        data-y-axis-label = "Events"
        data-bar-color = "text-teal-dark"
        width="500" height="500"></svg>
  </div>
</div>

<h2 class="text-sm font-medium text-grey-dark ml-2 mt-8">Movement Champions</h2>
<div class="flex flex-row flex-wrap">
  <% @movements.each do |movement| %>
      <div style="min-width:25%;" class="flex-grow flex items-center bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
        <div class="text-center mr-3">
          <div class="text-3xl">
            <%= movement_emoji(movement) %>
          </div>
          <div class="text-xs font-light text-grey-darkest"><%= movement.name %></div>
        </div>
        <h3 class="block font-medium"><%= movement.champions.map{ |a| a.name }.join(", ") %></h3>
      </div>
  <% end %>
</div>

<h2 class="text-sm font-medium text-grey-dark ml-2 mt-8">Olympic Lifting</h2>
<div class="flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  Olymic lifting summary

  <div class="flex">
    <div class="w-1/2">
      Bar Char showing each athletes top performance for snatch
    </div>
    <div class="w-1/2">
      Bar Char showing each athletes top performance for clea and jerk
    </div>
  </div>
</div>

<h2 class="text-sm font-medium text-grey-dark ml-2 mt-8">Powerlifting Lifting</h2>
<div class="flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  Olymic lifting summary

  <div class="flex">
    <div class="">
      Bar Char showing each athletes top performance for deadlift
    </div>
    <div class="">
      Bar Char showing each athletes top performance for bench
    </div>
    <div class="">
      Bar Char showing each athletes top performance for squat
    </div>
  </div>
</div>

<h2 class="text-sm font-medium text-grey-dark ml-2 mt-8">Running</h2>
<div class="flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  Running Events summary

  <div class="">
    Bar chart showing each athletes top performance in each movement.
    Bars are group by event, showing all distances on the x axis
  </div>
</div>

<h2 class="text-sm font-medium text-grey-dark ml-2 mt-8">Rowing</h2>
<div class="flex flex-row flex-wrap items-baseline bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
  Rowing Events summary

  <div class="">
    Bar chart showing each athletes top performance in each movement.
    Bars are grouped by event, showing all distances on the x axis
  </div>
</div>
