<nav class="bg-black py-2">
  <h1 class="text-white text-center">Olympics</h1>
</nav>

<main class="container mx-auto pt-8">
  <div class="flex flex-row flex-wrap justify-center">
    <% @athletes.each do |athlete| %>
      <div class="bg-white border-grey-light shadow hover:shadow-md border-solid border-1 rounded p-4 m-2">
        <h3 class="mb-2"><%= athlete.name %></h3>

        <table>
          <thead class="text-sm font-light text-left pt-3 text-grey-dark">
            <th>Movement</th>
            <th>Weight (lbs)</th>
          </thead>

          <% athlete.personal_records.each_pair do |movement, weight| %>
            <tr>
              <td><%= movement %></td>
              <td class="text-center"><%= weight %></li></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>

  <div class="">
    <% @event_distribution.each_pair do |type, count| %>
      <%= type %>: <%= count %>
    <% end %>
  </div>
</main>
