<!DOCTYPE html>
<html>
  <head>
    <title>Olympics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="bg-grey-lightest">
    <nav class="bg-black py-2">
      <h1 class="text-white text-center">Olympics</h1>
    </nav>

    <main class="container mx-auto py-8">
      <%= yield %>
    </main>
  </body>
</html>
